# IDE configurations
.vs/
.idea/

# Environment files
node_modules/
package-lock.json

# Output files
.bundle/
.jekyll-cache/
_site/
vendor/
*.gem
.jekyll-metadata
Gemfile.lock

# Miscellaneous files
.DS_Store
Desktop.ini
Thumbs.db